@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family:'NotoSans';
    src: url('../../assets/fonts/NotoSans-Black.woff2') format('woff2'),
        url('../../assets/fonts/NotoSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family:'NotoSans';
    src: url('../../assets/fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../../assets/fonts/NotoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'NotoSans';
    src: url('../../assets/fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../../assets/fonts/NotoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}