.gnb {
    margin-left: 20px;
    @include media('<=lg') {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100%;
        max-height: 100vh;
        margin-left: 0;
        background-color: #fff;
        transform: translateX(100%);
        overflow-y: auto;
        transition: transform 1s, left .5s;
    }
    &__list {
        display: flex;
        &--depth2 {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            left: 30px;
            top: 100px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
            transition: transform .3s, opacity .5s;
            &::before {
                position: absolute;
                top: -1px;
                transform: translateX(-50%);
                width: 9999px;
                height: 70px;
                background-color: #fff;
                border-top: 1px solid #f0f0f0;
                z-index: -1;
                content: "";
                @include media('>lg', '<=xl') {
                    height: 4.375vw;
                }
            }
            &:hover {
                @include media('>xl') {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;       
                }
                @include media('>lg', '<=xl') {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;   
                }
            }
            @include media('>lg', '<=xl') {
                left: 1.875vw;    
                top: 6.25vw;
            }
        }
        @include media('<=lg') {
            display: none;       
        }
    }
    &__item {
        position: relative;
        padding: 40px 30px 40px;
        box-sizing: border-box;
        @include media('>lg','<=xl') {
            padding: 2.5vw 1.875vw 2.5vw;
        }
        &:first-child {
            margin-left: 0;
        }
        &--depth2 {
            margin-left: 32px;
            @include media('>lg','<=xl') {
                margin-left: 2vw;
            }
            &:first-child {
                margin-left: 0;
            }
        }
        &.showline {
            .gnb__link {
                &:after {
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background-color: #000;
                    @include media('<=lg') {
                        display: none;       
                    }
                    @include media('>lg', '<=xl') {
                        height: 0.1875vw;      
                    }
                }
            }
        }
        
    }
    &__link {
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding-top: 40px;
        padding-bottom: 40px;
        color: #fff;
        z-index: 3;
        box-sizing: border-box;
        @include media('>lg','<=xl') {
            font-size: 1vw;
            padding-top: 2.5vw;
            padding-bottom: 2.5vw;
        }
        &--depth2 {
            display: block;
            font-size: 14px;
            padding: 26px 0;
            color: #121212;
            text-align: center;
            text-transform: uppercase;
            opacity: 0.4;
            white-space: nowrap;
            box-sizing: border-box;
            @include media('>lg','<=xl') {
                font-size: 0.875vw; 
                padding: 1.625vw 0;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
.header.header--active, .header.header--se, .header.header--lang {
    .gnb__item {
        .gnb__link {
            color: #111111;
            &:hover {
                & + .gnb__list--depth2 {
                    @include media('>xl') {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;       
                    }
                    @include media('>lg', '<=xl') {
                        transform: translateY(0);  
                        opacity: 1;
                        visibility: visible;      
                    }
                }
            }
        }
        &--active {
            .gnb__link {
                color: #5d50ec;
            }
        }
    }
}