.logo {
    &__link {
        display: block;
        padding: 37px 40px;
        @include media('>lg','<=xl') {
            padding: 2.313946vw 2.501563vw;
        }
        @include media('<=lg') {
            padding: 18px;       
        }
    }
    &__img--black {
        display: none;
    }
    &__img {
        display: block;
        width: 124px;
        height: 26px;
        background-position: 0 -28px;
        @include media('>lg', '<=xl') {
            width: 7.75vw;
            height: 1.625vw;
            background-position: 0 -1.75vw;
        }
        @include media('<=lg') {
            width: 95px;
            height: 20px;     
            background-position: 0 -22px;       
        }
    }
}
.header.header--active, .header.header--se, .header.header--lang {
    .logo {
        .logo__img {
            &.logo__img--scrolled {
                background-position: 0 0;
                @include media('<=lg') {
                    background-position: 0 0;
                }
            }
        }
    }
}